{% extends 'base.html' %}

{% load static %}

{% block title %}Вход{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/menu.css'%}">
<link rel="stylesheet" href="{% static 'css/login.css'%}">
{% endblock %}


{% block content %}
<div class="mainphoto">
    <a href="{% url 'homepage:home' %}"><img src="{% static 'dev/mainphoto.png' %}"></a>
</div>

<div class="form">

    <div id="login">
        <h1>Вход</h1>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="field-wrap">
                <p>Почта<span class="req">*</span></p>
                    {{ form.username }}
            </div>

            <div class="field-wrap">
                <p>Пароль<span class="req">*</span></p>
                {{ form.password }}
            </div>

            <button class="button button-block">Войти</button>

        </form>

    </div>
    <p style="font-size: 20px;">Нет аккаунта?<a href="{% url 'users:register' %}" class="text-center">Зарегистрироваться</a></p>
</div>



<script src="js/index.js"></script>
{% endblock %}