{% extends 'base.html' %}
{% load static %}

{% block title %}Профиль{%endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="shapka">
    <div class="mainphoto">
        <a href="{% url 'homepage:home' %}"><img src="{% static 'dev/mainphoto.png' %}"></a>
    </div>
    <p class="Moscow">📍Москва</p>
    <p class="sale">Акции</p>
    <p class="about">О нас</p>
</div>

<div class="container">    
    <div class="profile_data">
        <p style="font-size: 20px;">ПРОФИЛЬ</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Изменить</button>
        </form>
        <hr>
        <div style="display: flex;">
            <p>Адреса доставки</p>
            <button id="address_btn" class="btn btn-primary">Добавить</button>
        </div>
        <div id="addresses_list">
            {% for address in user.addresses.all %}
                {% include 'includes/profile_address_card.html' %}
            {% empty %}
                <div id="empty_address"><p class="empty_alert">Вы пока не добавили адрес</p></div>
            {% endfor %}
        </div>
        <div id="address_form_container"> </div> {# для формы #}

        <hr>
        <div style="display: flex;">
            <p>Оплата</p>
            <button id="card_btn" class="btn btn-primary">Добавить</button>
        </div>
        <div id="cards_list">
            {% for card in user.cards.all %}
                {% include 'includes/profile_card_card.html' %}
            {% empty %}
                <div id="empty_card"><p class="empty_alert">Вы пока не добавили способ оплаты</p></div>
            {% endfor %}
        </div>
        <div id="card_form_container"> </div> {# для формы #}

        <hr>
        <p>ВАШИ ЗАКАЗЫ</p>
        {% for order in user.orders.all %}
            {% include 'includes/profile_order_card.html' %}
        {% empty %}
            <p class="empty_alert">Вы пока не сделали ни один заказ</p>
        {% endfor %}


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% include 'includes/profile_scripts.html' %}
    </div>
</div>
{% endblock %}