<!DOCTYPE html>
<html>
<head>
  {% load static %}
    <title>История заказов</title>

    <link rel="stylesheet" href="{% static 'css/order.css'%}">
</head>
<body>
    <div class="name-grid">
        <div class="mainphoto">
            <img src="{% static 'dev/mainphoto.png' %}">
        </div>
        <a><button class="menu">Меню</button></a>
        <a><button class="menu">Профиль</button></a>

    </div>

    <div class="shopping-cart">
        <!-- Title -->
        <div class="title">
          Заказ №2
        </div>
   
<!-- Товар #1 -->
<div class="item">

    <div class="image">
        <img src="https://media.dodostatic.net/image/r:584x584/11EE7D61706D472F9A5D71EB94149304.avif" alt="" />
    </div>

    <div class="description">
        <span>Чоризо фреш</span>
        <span>Острые колбаски чоризо, сладкий перец, моцарелла, фирменный томатный соус</span>
        <span>БЕЗ: сладкий перец </span>
        <span>ДОП: моцарелла </span>
    </div>
    <div class="size-options-for-pizza">
        <span>Кол-во: 1</span>
    </div>
    <div class="size-options-for-pizza">
        <span>Маленькая</span>
    </div>
      <div class="total-price">799 ₽</div>
    </div>

        <!-- Товар #2 -->
        <div class="item">
   
          <div class="image">
            <img src="https://media.dodostatic.net/image/r:584x584/11EE7D612FC7B7FCA5BE822752BEE1E5.avif" alt=""/>
          </div>
   
          <div class="description">
            <span>Пепперони фреш </span>
            <span>Пикантная пепперони, увеличенная порция моцареллы, томаты, фирменный томатный соус</span>
            <span>БЕЗ: пепперони </span>
            <span>ДОП: томаты </span>
          </div>
          <div class="size-options-for-pizza">
            <span>Кол-во: 1</span>
        </div>
        <div class="size-options-for-pizza">
            <span>Большая</span>
        </div>
          <div class="total-price">699 ₽</div>
        </div>

        <!-- Товар #3 -->
        <div class="item">
   
          <div class="image">
            <img src="https://media.dodostatic.net/image/r:584x584/11EE7D610D2925109AB2E1C92CC5383C.avif" alt="" />
          </div>
          <div class="description">
            <span>Сырная</span>
            <span>Моцарелла, сыры чеддер и пармезан, фирменный соус альфредо </span>
            <span>БЕЗ: пармезан, фирменный соус альфредо </span>
            <span>ДОП: сыр чеддер </span>
          </div>
          <div class="size-options-for-pizza">
            <span>Кол-во: 1</span>
        </div>
          <div class="size-options-for-pizza">
            <span>Средняя</span>
        </div>
          <div class="total-price">650 ₽</div>

        </div>
         <div class="info">	&#128182 Cумма заказа: 2139 ₽</div>
         <div class="info">	&#9200 Время заказа: 15.05.2024 15:00</div>
         <div class="info">	&#128205 Доставка к: 17:00</div>
         <div class="info">	&#127829 Статус заказа: готовится</div>
         <br>
    </div>
    </div>
</body>