body {
    background-color: rgba(255, 222, 192, 0.74);
}
.name-grid {
    display: grid;
    grid-template-columns: 1200px 150px; /* Определение 6 столбцов с определенной шириной */
    grid-template-rows: auto; /* Определение высоты каждой строки */
    align-items: center;
    padding-top: 32px;
    padding-left: 32px;
  }



.mainphoto img{
    width: 203px;
    height: 108px;
}
.menu {
    width: 100.33px;
    height: 60.85px;
    background: #FF6700;
    border-radius: 28px;
    font-size: 17px;
    border: none; /* Убираем границу */
    color: white;
    font-weight: bold;
}
.menu:hover {
    background: #fba56c;
    cursor: pointer; 
}

* {
    box-sizing: border-box;
  }
   
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  .shopping-cart {
    width: 1300px;
    height: auto;
    margin: 30px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; /* Изменение здесь на auto */
    flex-direction: column;
}


  .title {
    height: 60px;
    border-bottom: 1px solid #FF6700;
    padding: 20px 30px;
    color: #FF6700;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: auto;
    height: auto;
    display: flex;
    grid-row: span 1; /* Применение к каждой строке */
    min-height: 100px;
    margin-bottom: 10px; /* Отступ между строками в 20 пикселей */
}
   
.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  .delete-btn{
    display: inline-block;
    Cursor: pointer;
    width: 18px;
    height: 17px;
    margin-left: 10px;
  }

   
  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }
  .image {
    margin-right: 50px;
    margin-top: 10px;
  }
  .image img {
    max-width: 100%; /* Ограничиваем ширину */
    height: 150px;
    width: 150px; /* Автоматический подбор высоты */
    z-index: -1;
  }

  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 200px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 500;
    word-break: break-word; /* Позволяет тексту переноситься на новую строку, если не помещается */
    padding-bottom: 10px; /* Создает отступ от нижней границы элемента */

}
   
  .description span:first-child {
    margin-bottom: 5px;
    border-bottom: 1px solid #FF6700;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
 button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }
  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }
.oformit{
  text-align: center;
  padding: 1px;
}
.bottonOformit {
    width: 120.33px;
    height: 60.85px;
    background: #FF6700;
    border-radius: 28px;
    font-size: 19px;
    border: none; /* Убираем границу */
    color: white;
    font-weight: bold;
}
.bottonOformit:hover {
    background: #fba56c;
    cursor: pointer; 
}
.info {

        position: relative;
        font-family: "Gotham Pro", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 900;
        color: #70544f;
        line-height: 1,5;
        white-space: pre-wrap;
        margin-top: 10px;
        font-size: 20px;
}


.size-options-for-pizza {
    padding-top: 20px;
    margin-right: 60px;
  }
.bottonForSize{
    width: 45.33px;
    height: 45.85px;
    background: #FF6700;
    border-radius: 28px;
    font-size: 14px;
    border: none; /* Убираем границу */
    color: white;
    font-weight: bold;
}
.bottonForSize:hover {
    background: #fba56c; 
    cursor: pointer;
}

.ingridients {
    padding-top: 20px;
    margin-right: 60px;
  }
.ingridientsForPizza{
    width: 100.33px;
    height: 40.85px;
    background: #FF6700;
    border-radius: 28px;
    font-size: 13px;
    border: none; /* Убираем границу */
    color: white;

}
.ingridientsForPizza:hover {
    background: #fba56c;
    cursor: pointer; 
}
