body {
    background: #fbd7a2;
    font-family: 'Titillium Web', sans-serif;
}

.profile_data {
    margin-left: 30px;
    margin-right: 30px;
}

.addresses {
    margin-left: 20px;
    display: flex;
}

.payment {
    margin-left: 20px;
    display: flex;
}

.orders {
    margin-left: 20px;
}

.btn {
    background-color: #FF6700;
    color: rgba(255, 255, 255, 1);
    border: 20px;
    border-radius: 10%;
    font-size: 14px;
}

.btn-primary {
    margin: 10px;
}

.btn-danger {
    margin-left: 10px;
}

.container {
    border: 3px solid;
    border-color: #FF6700;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
}

.data_form {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.order_card {
    border: 2px solid;
    border-color: #c4c4c48a;
    border-radius: 5px;
    margin: 10px;
}

.order_address_price {
    display: flex;
    margin-left: 10px;
    margin-top: -20px;
    
}
.order_address_form {
    font-size: 12px;
}

.order_date_form {
    margin-left: 10px;
}

.order_price_form {
    margin-right: 10px;
    margin-left: auto;
    margin-top: -10px;
    font-size: 18px;
}

.btn-order-info {
    margin-bottom: 10px;
}

.empty_alert {
    margin-left: 40px;
}

input {
    border-radius: 10px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-color: #FF6700;
}

input:focus {
    outline: 0;
}

.mainphoto img{
    width: 203px;
    height: 108px;
}

.shapka {
    display: flex;
}


.sale{
    position: absolute;
    width: 58px;
    height: 27px;
    left: 1030px;
    top: 27px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-size: 22px;
    line-height: 27px;
    color: #BE691D;
}


/* контакты */
.about{
    position: absolute;
    width: 111px;
    height: 27px;
    left: 1120px;
    top: 27px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-size: 22px;
    line-height: 27px;
    color: #BE691D;
}



/* 📍Москва */
.Moscow{
    position: absolute;
    width: 256px;
    height: 60px;
    left: 900px;
    top: 24px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #BE691D;

}