<div id="product_{{ product.id }}" class="item">
    <div class="buttons">
        <form id="delete-form-{{ product.id }}">
            {% csrf_token %}
            <span class="delete-btn">
                <a onclick="deleteProduct({{ product.id }})">
                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M17.3 5.3a1 1 0 111.4 1.4L13.42 12l5.3 5.3a1 1 0 11-1.42 1.4L12 13.42l-5.3 5.3a1 1 0 01-1.4-1.42l5.28-5.3-5.3-5.3A1 1 0 016.7 5.3l5.3 5.28 5.3-5.3z"
                              fill="#000"></path>
                    </svg>
                </a>
            </span>
        </form>
    </div>

    <div class="image">
        <img src="{{ product.base_product.image.url }}" alt=""/>
    </div>

    <div class="description">
        <span>{{ product.base_product.name }}</span>
        <span>{{ product.base_product.get_ingredients }}</span>
        {% if product.added_ingredient.exists %}
            <span>ДОП: {{ product.get_added_ingredients }}</span>
        {% endif %}
        {% if product.removed_ingredient.exists %}
            <span>БЕЗ: {{ product.get_removed_ingredients }}</span>
        {% endif %}
    </div>

    <div class="quantity">
        <form id="quantity-form-{{ product.id }}" method="post">
            {% csrf_token %}
            <button class="minus-btn" type="button" name="button" onclick="updateQuantity('{{ product.id }}', -1)">
                <svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="icon">
                    <rect fill="#454B54" y="4" width="10" height="2" rx="1"></rect>
                </svg>
            </button>
            <span id="quantity_{{ product.id }}">{{ product.quantity }}</span>
            <button class="plus-btn" type="button" name="button" onclick="updateQuantity('{{ product.id }}', +1)">
                <svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="icon">
                    <g fill="#454B54">
                        <rect x="4" width="2" height="10" ry="1"></rect>
                        <rect y="4" width="10" height="2" rx="1"></rect>
                    </g>
                </svg>
            </button>
        </form>
    </div>

    <form id="size-form-{{ product.id }}" method="post">
        {% csrf_token %}
        <div class="size-options-for-pizza">
            <section>
                <label class="select-label"></label>
                <select id="size-select_{{ product.id }}" name="size" class="cs-select cs-skin-rotate">
                    {% for size, info in product.base_product.get_sizes.items %}
                    {% if size == product.size %}
                    <option value="{{ size }}" selected>{{ info }}</option>
                    {% else %}
                    <option value="{{ size }}">{{ info }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </section>
        </div>
    </form>

    <div class="ingridients">
        <a href="{% url 'cart:edit_product' product.id %}"><button class="ingridientsForPizza">Настройка ингредиентов</button></a>
    </div>
    <div class="total-price"><span id="amount_{{ product.id }}">{{ product.amount }}</span>₽</div>
</div>
