{% extends 'base.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <p>Сумма заказа: <span id="amount">{{ cart.products_sum }}</span></p>
    <hr>
    <div id="product-container">
        {% for product in cart.products.all %}
            {% include 'includes/cart_product_card.html' %}
        {% endfor %}
    </div>
    <a class="btn btn-primary">Оформить заказ</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/cart_quantity.js' %}"></script>
<script src="{% static 'js/cart_delete_product.js' %}"></script>
<script>
$(document).ready(function() {
  $('#product-container').on('change', 'select[name="size"]', function() {
    var formId = $(this).closest('form').attr('id'); // Получаем id формы, содержащей select
    var productId = formId.split('-')[2]; // Получаем product_id из id формы
    var newSize = $(this).val(); // Получаем выбранный размер из элемента <select>

    var formData = new FormData(); // Создаем объект FormData
    formData.append('product_id', productId); // Добавляем product_id в объект formData
    formData.append('size', newSize); // Добавляем size в объект formData
    formData.append('action', 'update_size'); // Добавляем action в объект formData
    formData.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val()); // Добавляем CSRF-токен

    $.ajax({
      url: '/api/update_cart/',
      type: 'POST',
      data: formData,
      processData: false, // Не обрабатываем данные (не преобразуем в строку)
      contentType: false, // Не устанавливаем тип контента (передадим как есть)
            success: function(response) {
        // Удаляем старую карточку и добавляем новую вместо нее
        if (response.old_card.action === 'delete' && response.new_card.action === 'add') {
          $('#product_' + response.old_card.card_id).replaceWith(response.new_card.html);
        }
        // Удаляем старую карточку и изменяем новую
        else if (response.old_card.action === 'delete' && response.new_card.action === 'edit') {
          $('#product_' + response.old_card.card_id).remove();
          $('#product_' + response.new_card.card_id).replaceWith(response.new_card.html);
        }
        // Изменяем старую и добавляем новую
        else if (response.old_card.action === 'edit' && response.new_card.action === 'add') {
          $('#product_' + response.old_card.card_id).replaceWith(response.old_card.html);
          $('#product_' + response.old_card.card_id).after(response.new_card.html);
        }
        // Изменяем старую и изменяем новую
        else if (response.old_card.action === 'edit' && response.new_card.action === 'edit') {
          $('#product_' + response.old_card.card_id).replaceWith(response.old_card.html);
          $('#product_' + response.new_card.card_id).replaceWith(response.new_card.html);
        }
        // Просто изменяем карточки
        else {
          if (response.old_card && response.old_card.html) {
            $('#product_' + response.old_card.card_id).replaceWith(response.old_card.html);
          }
          if (response.new_card && response.new_card.html) {
            $('#product_' + response.new_card.card_id).replaceWith(response.new_card.html);
          }
        }
        $('#amount').text(response.amount);
        console.log('Размер товара успешно обновлен');
      },
      error: function(xhr, status, error) {
        console.error('Request failed:', status, error);
      }
    });
  });
});

</script>

{% endblock %}
