<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Мой самый первый сайт">
    <title>Заказ пиццы</title>
    <link rel="stylesheet" href="edit_product.css">
</head>

<body>
    <div class="content">
        <div class="edit">
            <div class="edit__block">
                <div class="edit__block_delete">
                    Удалить из пиццы
                </div>
                <div class="grid">
                    <div class="grid__element">
                        <p>Колбаска</p>
                        <img src="sausage.png" class="grid__element_photo" alt="element image">
                        <p>79р</p>
                        <form action="#" method="get">
                            <input class="grid__element_input" placeholder="Кол-во:" type="text">
                        </form>
                    </div>
                    <div class="grid__element">
                        <p>Колбаска</p>
                        <img src="sausage.png" class="grid__element_photo" alt="element image">
                        <p>79р</p>
                        <form action="#" method="get">
                            <input class="grid__element_input" placeholder="Кол-во:" type="text">
                        </form>
                    </div>
                    <div class="grid__element">
                        <p>Колбаска</p>
                        <img src="sausage.png" class="grid__element_photo" alt="element image">
                        <p>79р</p>
                        <form action="#" method="get">
                            <input class="grid__element_input" placeholder="Кол-во:" type="text">
                        </form>
                    </div>
                    <div class="grid__element">
                        <p>Колбаска</p>
                        <img src="sausage.png" class="grid__element_photo" alt="element image">
                        <p>79р</p>
                        <form action="#" method="get">
                            <input class="grid__element_input" placeholder="Кол-во:" type="text">
                        </form>
                    </div>
                </div>
            </div>
            <div class="edit__block">
                <div class="edit__block_add">
                    Добавить в пиццу
                </div>
                <div class="grid__add">
                    <div class="grid__element">
                        <p>Колбаска</p>
                        <img src="sausage.png" class="grid__element_photo" alt="element image">
                        <p>79р</p>
                        <form action="#" method="get">
                            <input class="grid__element_input" placeholder="Кол-во:" type="text">
                        </form>
                    </div>
                    <div class="grid__element">
                        <p>Колбаска</p>
                        <img src="sausage.png" class="grid__element_photo" alt="element image">
                        <p>79р</p>
                        <form action="#" method="get">
                            <input class="grid__element_input" placeholder="Кол-во:" type="text">
                        </form>
                    </div>
                    <div class="grid__element">
                        <p>Колбаска</p>
                        <img src="sausage.png" class="grid__element_photo" alt="element image">
                        <p>79р</p>
                        <form action="#" method="get">
                            <input class="grid__element_input" placeholder="Кол-во:" type="text">
                        </form>
                    </div>
                
                </div>
            </div>
        </div>
        <div class="pizza">
            Пепперони
            <img src="pepperoni.png" class="pizza-image" alt="pizza image">
            <a href="#" class="save-button">Сохранить</a>
        </div>
    </div>
</body>