<!DOCTYPE html>
<html>
<head>
  {% load static %}
    <title>Наше меню</title>

    <link rel="stylesheet" href="{% static 'css/sale.css'%}">
</head>
<body>
    <p class="Moscow">📍Москва</p>
    <p class="sale">Акции</p>
    <p class="about">О нас</p>
    <button class="menu-button2">войти</button>

 
    <a href="homepage.html">
        <img src="{% static 'dev/mainphoto.png' %}", class="photostyle">
      </a>
    <div class="rectangle-5"></div>
    <div class="rectangle-4"></div>
    <div class="rectangle-3"></div>

    <div style="position: absolute; width: 596px; height: 145px; left: 760px; top: 230px; font-family: 'Inter'; font-style: italic; font-weight: 900; font-size: 24px; line-height: 29px; color: rgba(190, 105, 29, 0.62);">
        Скидка 20% на первый заказ применяется по промокоду HELLO к первому заказу в мобильном приложении для новых клиентов.
    </div>
    <div style="position: absolute; width: 557px; height: 87px; left: 760px; top: 490px; font-family: 'Inter'; font-style: italic; font-weight: 900; font-size: 24px; line-height: 29px; color: rgba(190, 105, 29, 0.62);">
        Скидка 50% на каждую третью пиццу в заказе по промокоду PIZZA3
    </div>
    <div style="position: absolute; width: 614px; height: 29px; left: 760px; top: 748px; font-family: 'Inter'; font-style: italic; font-weight: 900; font-size: 24px; line-height: 29px; color: rgba(190, 105, 29, 0.62);">
        Бесплатная доставка для заказов от 1999 рублей
    </div>
    <img src="{% static 'img/sale/sale1.png' %}"  class="sale1">
    <img src="{% static 'img/sale/sale2.png' %}"  class="sale22">
    <img src="{% static 'img/sale/sale3.png' %}"  class="sale3">
   

 

</body>
</html>
