{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}
    
{% block links %}<link rel="stylesheet" href="{% static 'css/homepage.css' %}">{% endblock %}

{% block content %}
    <div>
        <div class="custom-box">
            <a href="{% url 'products:menu' %}" class="menu-button">Наше меню</a>
        </div>

        <button class="menu-button2">войти</button>

        <img src="{% static 'dev/mainphoto.png' %}" class="photostyle">
        <img src="{% static 'img/homepage/people.png' %}" class="photostyle0">
        <img src="{% static 'img/homepage/pizza.png' %}" class="photostyle2">
        <p class="Moscow">📍Москва</p>
        <p class="kontakt">Контакты</p>
        <p class="sale">Акции</p>
        <p class="about">О нас</p>
    </div>
{% endblock %}
