{% extends 'base.html' %}
{% load static %}

{% block title %}Меню{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/menu.css' %}">

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!--        <div class="col-md-4 mb-4">-->
        <!--            <div class="card" style="background: red;">-->
        <!--                <img src="{% static 'img/menu/pizza22.png' %}">-->
        <!--                <p style="font-size:30px;">Пицца<br>Четыре Сыра<br> 799p</p>-->
        <!--                <img src="{% static 'bin/bin.png' %}", class="inbin">-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="card" style="width: 18rem; background-color: rgba(0, 0, 0, 0);">
            <img src="{% static 'img/menu/pizza1.png' %}" class="card-img-top" alt="pizza photo">
            <div class="card-body">
                <h5 class="card-title">Пицца<br>Четыре Сыра<br> 799p</h5>
                <a href="#"><img src="{% static 'bin/bin.png' %}" class="inbin"></a>
            </div>
        </div>

    </div>
</div>
<!--<div>-->
<!--    <img src="{% static 'img/menu/pizza22.png' %}" class="pizza21">-->
<!--    <p class="pizza1">Пицца<br>Четыре Сыра<br> 799p</p>-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin1">-->
<!--</div>-->
<!--<img src="{% static 'img/menu/pizza22.png' %}" class="pizza22">-->
<!--&lt;!&ndash;    <img id="piz1" src="{% static 'img/menu/pizza1.png' %}" class="pizza21">&ndash;&gt;-->
<!--<img src="{% static 'img/menu/pizza3.png' %}" class="pizza23">-->
<!--<img src="{% static 'img/menu/pizza4.png' %}" class="pizza24">-->
<!--<img src="{% static 'img/menu/pizza5.png' %}" class="pizza25">-->
<!--<img src="{% static 'img/menu/pizza6.png' %}" class="pizza26">-->
<!--<img id="dr1" src="{% static 'img/menu/drink1.png' %}" class="drink11">-->
<!--<img src="{% static 'img/menu/drink2.png' %}" class="drink12">-->
<!--<img src="{% static 'img/menu/drink3.png' %}" class="drink13">-->
<!--<img src="{% static 'img/menu/drink4.png' %}" class="drink14">-->
<!--<img src="{% static 'img/menu/drink5.png' %}" class="drink15">-->
<!--<img src="{% static 'img/menu/drink6.png' %}" class="drink16">-->
<!--<img src="{% static 'img/menu/snack1.png' %}" class="snack11">-->
<!--<img src="{% static 'img/menu/snack2.png' %}" class="snack12">-->
<!--<img src="{% static 'img/menu/snack3.png' %}" class="snack13">-->
<!--<img src="{% static 'img/menu/snack4.png' %}" class="snack14">-->
<!--<img src="{% static 'img/menu/snack5.png' %}" class="snack15">-->
<!--<img src="{% static 'img/menu/snack6.png' %}" class="snack16">-->
<!--<img src="{% static 'img/menu/sweet1.png' %}" class="sweet11">-->
<!--<img src="{% static 'img/menu/sweet2.png' %}" class="sweet12">-->
<!--<img src="{% static 'img/menu/sweet3.png' %}" class="sweet13">-->


<!--<a href="bin.html">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="photostyle2">-->
<!--</a>-->

<!--<a href="bin.html">-->

<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin2">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin3">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin4">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin5">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin6">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin7">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin8">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin9">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin10">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin11">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin12">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin13">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin14">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin15">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin16">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin17">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin18">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin19">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin20">-->
<!--    <img src="{% static 'bin/bin.png' %}" , class="inbin inbin21">-->


<!--</a>-->


<!--<a href="homepage.html">-->
<!--    <img src="{% static 'dev/mainphoto.png' %}" , class="photostyle">-->
<!--</a>-->

<!--<a class="pizza2">Пицца <br>мясная <br>799 ₽</a>-->
<!--&lt;!&ndash;    <a class="pizza1">Пицца <br>четыре сыра <br>799 ₽</a>&ndash;&gt;-->
<!--<a class="pizza3">Пицца <br>с курицей <br>799 ₽</a>-->
<!--<a class="pizza4">Пицца <br>с ананасами <br>799 ₽</a>-->
<!--<a class="pizza5">Пицца <br>цезарь <br>799 ₽</a>-->
<!--<a class="pizza6">Пицца <br>сливочная <br>799 ₽</a>-->
<!--<a class="drink1">Вода <br>без газа <br>79 ₽</a>-->
<!--<a class="drink2">Sprite <br>99 ₽ </a>-->
<!--<a class="drink3">Lipton<br>черный<br>99 ₽</a>-->
<!--<a class="drink4">Сок<br>яблочный<br>110 ₽</a>-->
<!--<a class="drink4">Сок<br>яблочный<br>110 ₽</a>-->
<!--<a class="drink5">Coca Cola<br>99 ₽</a>-->
<!--<a class="drink6">Lipton<br>зеленый<br>105 ₽</a>-->
<!--<a class="snack1">Куриные крылышки<br>6 штук<br>179 ₽</a>-->
<!--<a class="snack2">Картошка фри<br>99 ₽</a>-->
<!--<a class="snack3">Салат Цезарь<br>179 ₽</a>-->
<!--<a class="snack4">Наггетсы<br>6 штук<br>85 ₽</a>-->
<!--<a class="snack5">Картошка<br>по-деревенски<br>100 ₽</a>-->
<!--<a class="snack6">Салат овощной<br>109 ₽</a>-->
<!--<a class="sweet1">Печенье шоколадное<br>99 ₽</a>-->
<!--<a class="sweet2">Чизкейк Нью-Йорк<br>299 ₽</a>-->
<!--<a class="sweet3">Мороженое ванильное<br>99 ₽</a>-->


<!--<a class="PIZZA">Пицца</a>-->
<!--<a class="DRINK">Напитки</a>-->
<!--<a class="SNACK">Закуски</a>-->
<!--<a class="sweet">Десерты</a>-->
<!--<a href="#" onclick="scrollToImage('piz1')" class="piz2">Пицца</a>-->
<!--<a href="#" onclick="scrollToImage('dr1')" class="highlighted-text2">Напитки</a>-->
<!--<a href="#" class="highlighted-text3">Закуски</a>-->
<!--<a href="#" class="highlighted-text4">Десерты</a>-->

<!--<div class="custom-box"></div>-->

<!--<script>-->
<!--    function scrollToImage(imageId) {-->
<!--      document.getElementById(imageId).scrollIntoView({ behavior: 'smooth' });-->
<!--    }-->
<!--</script>-->
{% endblock %}
